{
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "vueIndentScriptAndStyle": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "jsxBracketSameLine": false,
    "jsxSingleQuote": true,
    "arrowParens": "always",
    "htmlWhitespaceSensitivity": "strict",
    "trailingComma": "all",
    "printWidth": 100,
    "trimTrailingWhitespace": true,
    "trailingNewline": true,
    "endOfLine": "lf"
  }