/.idea/shelf/Uncommitted_changes_before_Merge_at_12_12_24_PM5_07_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Merge_at_12_12_24_PM5_07__Changes_.xml
/.idea/simple-ranking.iml
/.idea/workspace.xml
/.idea/shelf/Uncommitted_changes_before_Merge_at_12_12_24_PM5_07_[Changes]/shelved.patch
.idea
.DS_Store
